# Ignorados
.DS_Store
node_modules/
dist/
*.local
.env
.env.local

# Backend
backend/**/*.db
backend/**/*.db-shm
backend/**/*.db-wal
backend/**/bin/
backend/**/obj/
backend/**/logs/
backend/**/*.user
.vs/

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env
